
<ngb-carousel *ngIf="alerts != []" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let alert of alerts">
    <div class="picsum-img-wrapper">
           <img src="{{ alert.imgUrl }}" height="400px" width="900"px>
    </div>
    <div class="carousel-caption" >
      <h1 class="text-White text-right"> <b>{{ alert.zipcode }}</b></h1>
      <h1 class="text-White text-right"> <b>{{ alert.subject | titlecase }}</b></h1>
      <h4 class="text-White text-right"> <b>{{ alert.content }}</b></h4>
      <h4 class="text-White text-right"> <b>{{ alert.createdAt }}</b></h4>
    </div>
  </ng-template>
</ngb-carousel>

<hr>


