<!-- <button type="submit" class="btn" (click)="loadAll()">List snitches</button> -->
<div *ngFor="let snitch of snitches">
  <div class="row" >
    <div class="col-md-8 offset-md-3 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Category: {{snitch.category.name}}</h4>
          <p>Created on: {{snitch.createDate}}</p>
          <h6>{{snitch.title}} {{snitch.resolved}} {{snitch.resolutionDate}}</h6>
          <p class="card-text">{{snitch.description}}</p>
          <img class="card-img-bottom" src={{snitch.imgUrl}}>

          <!-- <input type="hidden" name="enabled" {{snitch.enabled}}>
          <input type="hidden" name="resolution" {{snitch.resolution}}> -->
          <div *ngIf="showAddress">
            <h6><em>Name: {{snitch.address.pinName}}</em></h6>
            <p>Address: {{snitch.address.street}}, {{snitch.address.city}} {{snitch.address.state}} {{snitch.address.zip}}</p>
            <button type="submit" class="btn btn-secondary" (click)="address()">Hide Location</button>
          </div>
<div>


    <!-- create comment form -->
<div *ngIf="checkLogin()">
  <br><form action="/action_page.php">
    <label for="comment"></label>
    <textarea id="w3review" name="content" rows="4" cols="50" [(ngModel)] = "newComment.content">

    </textarea>
    <br><br>
    <input type="submit" value="Add Comment" (click)="addComment(newComment, snitch.id)">
    </form>
</div>

           <!-- display comment -->
  <!-- <div *ngIf="showComments"> <button type="submit" class="btn btn-secondary" (click)="comments()">Hide Comments</button> </div> -->
  <div ngbDropdown class="d-inline-block">
    <div *ngIf="!showComments">
    <button class="btn btn-secondary" ngbDropdownToggle (click)="loadAllComments(snitch.id)">Show Comments</button>
  </div>
    <div *ngIf="showComments">
    <button class="btn btn-secondary" ngbDropdownToggle (click)="hideComments()">Hide Comments</button>
  </div>


  <!-- <div *ngIf="showComments">
    <div *ngFor="let comment of commentsList" ngbDropdownMenu aria-labelledby="dropdownForm1">
      <form class="px-4 py-3">
        <div class="form-group">
          <label for="comment.username">{{comment.user.username}}</label>
          <input type="text" class="form-control" disabled>
        </div>
        <div class="form-group">
          <label for="comment.content">{{comment.content}}</label>
          <input type="text" class="form-control" disabled>
        </div>
      </form>
      <div class="dropdown-divider"></div>

    </div>
  </div> -->



  </div>

</div>

          <div *ngIf="!showAddress"> <button type="submit" class="btn btn-secondary" (click)="address()">Show Location</button> </div>

        </div>
      </div>
    </div>
  </div>
</div>


