<div class="box">
  <div class="container">
      <h2 class="heading">Snitch Team</h2>
      <div class="row">
          <div class="col-md-4">
              <figure class="text-center">
                  <img src="https://images.unsplash.com/photo-1511075675422-c8e008f749d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1354&q=80" alt="hidden door in library">
                  <figcaption>
                      <h5><a href="https://github.com/kefa4520" target="_blank">Iryna Tretynyk</a></h5>
                      <p>Java Developer</p>
                      <p>SCRUM Master</p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="text-center">
                  <img src="https://images.unsplash.com/photo-1592439272693-c56a0d123887?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="donalds secret bottle">
                  <figcaption>
                      <h5><a href="https://github.com/yettsyjk" target="_blank">Yettsy Knapp</a></h5>
                      <p>Java Developer</p>
                      <p>Github Repo Owner</p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="text-center">
                  <img src="https://images.unsplash.com/photo-1568122979592-8fa56463ff56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80" alt="man hiking into mist">
                  <figcaption>
                      <h5><a href="https://github.com/stevie-steve" target="_blank">Steve Sharp</a></h5>
                      <p>Java Developer</p>
                      <p>Database Administrator</p>
                  </figcaption>
              </figure>
          </div>
      </div>

  </div>
  <div>
    <a class="link" [routerLink]="['/login']">Login</a>
    <a class="link" [routerLink]="['/home']">Home</a>
  </div>
</div>
