<div class="container-fluid">
  <div class="jumbotron">
<div class="box">

  <div class="container">
      <h2 class="heading">Snitch Developer Team</h2>
      <div class="row">
          <div class="col-md-4">
              <figure class="text-center">
                  <img src="https://images.unsplash.com/photo-1482841628122-9080d44bb807?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="hidden door in library">
                  <figcaption>
                      <h4><a href="https://github.com/kefa4520" target="_blank">Iryna Tretynyk</a></h4>
                      <h6>Java Developer</h6>
                      <h6>SCRUM Master</h6>

                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="text-center">
                  <img src="https://images.unsplash.com/photo-1555773744-d1d1f5316f39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="clouds surround">
                  <figcaption>
                    <h4><a href="https://github.com/stevie-steve" target="_blank">Steve Sharp</a></h4>
                    <h6>Java Developer</h6>
                    <h6>Database Administrator</h6>

                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="text-center">
                  <img src="https://images.unsplash.com/photo-1511075675422-c8e008f749d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1354&q=80" alt="man hiking into mist">
                  <figcaption>
                    <h4><a href="https://github.com/yettsyjk" target="_blank">Yettsy Knapp</a></h4>
                    <h6>Java Developer</h6>
                    <h6>Github Repo Owner</h6>

                  </figcaption>
              </figure>
          </div>
      </div>

  </div>


</div>
</div>
</div>
