
<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">

<div class="container">

  <br>  <p class="text-center">Register For a Free Account on <a [routerLink]="['/register']">Snitch</a></p>
  <hr>
  <div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <p class="text-center">Get started with your free account</p>
    <form class="form" role="form" autocomplete="off" method="POST">
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="username" class="form-control" placeholder="Enter Username*" type="text" [(ngModel)]="newUser.username" required=""/>
          <div class="invalid-feedback">Username Required Field</div>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
           </div>
              <input name="firstName" class="form-control" placeholder="Enter First Name*" type="text" [(ngModel)]="newUser.firstName" required=""/>
              <div class="invalid-feedback">First Name Required Field</div>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
               </div>
                  <input name="lastName" class="form-control" placeholder="Enter Last Name*" type="text" [(ngModel)]="newUser.lastName" required=""/>
                  <div class="invalid-feedback">Last Name Required Field</div>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                   </div>
                      <input name="pictureUrl" class="form-control" placeholder="Picture Please*" type="text" [(ngModel)]="newUser.pictureUrl" required=""/>
                      <div class="invalid-feedback">Don't Forget To Add A Picture</div>
                    </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <input name="email" class="form-control" placeholder="Email Address*" type="email" [(ngModel)]="newUser.email" required="" />
          <div class="invalid-feedback">Email is a Required Field</div>
        </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-key"></i> </span>
       </div>
          <input name="password" class="form-control" placeholder="Enter Password*" type="password" [(ngModel)]="newUser.password" required="" />
      </div> <!-- form-group// -->


      <div class="form-group">
          <button (click)="register(newUser)" type="submit" class="btn btn-primary btn-block">Create Account</button>
      </div> <!-- form-group// -->
      <p class="text-center">Already Have an account? <a [routerLink]="['/login']">Log In</a> </p>
  </form>
  </article>
  </div> <!-- card.// -->

  </div>
  </div>
</div>
  <!--container end.//-->
