<div class="container-fluid">
  <!-- <div class="justify-content">
    <button class="btn btn-info float-center" (click)="loadUser()">Load Users</button>
    <br>
  </div> -->
  <div class="col-lg-8">

     <!-- DisplayAll -->
  <div class="container">
  <table class="table table-bordered table-dark">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Enable</th>
        <th>Disable</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username}}</td>
        <td>{{ user.enabled}}</td>
        <!-- <td><button (click)="enable(user.id)" class="btn btn-danger"></button></td> -->
        <td><button (click)="disableUser(user.id)" class="btn btn-danger">X</button></td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>

<br>
<div class="col-lg-8">

  <!-- DisplayAll -->
<div class="container">
<table class="table table-bordered table-dark">
 <thead class="thead-dark">
   <tr>
     <th>ID</th>
     <th>Title</th>
     <th>Enable</th>
     <th>Disable</th>
   </tr>
 </thead>
 <tbody>
     <tr *ngFor="let snitch of snitches">
     <td>{{ snitch.id }}</td>
     <td>{{ snitch.title }}</td>
     <td>{{ snitch.enabled }}</td>
     <!-- <td><button (click)="enable(user.id)" class="btn btn-danger"></button></td> -->
     <td><button (click)="disableSnitch(snitch.id)" class="btn btn-danger">X</button></td>
   </tr>
 </tbody>
 </table>
</div>
</div>
</div>



