<p></p> <!-- find a better way to create space between divs besides an empty  -->

<ngb-accordion>
  <ngb-panel title="Welcome to Snitch.gov">
    <ng-template ngbPanelContent>
      The purpose of local is to see, know, care about and understand your community
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<h1>carousel of alerts here</h1>
<a><app-alert-list></app-alert-list></a>

<ngb-accordion>
  <ngb-panel title="What is a Snitch?">
    <ng-template ngbPanelContent>
      A snitch is a report of an issue in your area that you want to raise awareness of
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<p></p>


<div class="snitchdiv1">
  <form action="/action_page.php" class="container1">
    <h1>Find a Snitch!</h1>

   <p class = "snitch">See an issue? check to see if it has been reported!</p>

   <!-- <a [routerLink]="['/snitches']"></a> -->

   <button type="submit" class="btn" [routerLink]="['/snitches']">List snitches</button>

  </form>
</div>

<p> </p>
<!-- find a better way to create space between divs besides an empty  -->
<div class="snitchdiv2">
  <form action="/action_page.php" class="container2">
    <h1>Create a Snitch!</h1>

   <p class = "snitch">it is important to bring issues to light! Create a snitch here!</p>

   <button type="submit" class="btn" [routerLink]="['/snitch']">Report a snitch</button>
  </form>
</div>


<p></p>
