<div class="container-fluid">
<div class="container">
<p></p> <!-- find a better way to create space between divs besides an empty  -->

<h2 style="text-align: right; color: rgb(75, 49, 43); font-family: Franklin Gothic Medium"> Active Snitches : <span class="badge badge-warning">{{getNumberOfAllSnitches()}}</span></h2>
<div class="card">

  <div class="card-header">
    <h1 style="text-align: center;color: rgb(75, 49, 43); font-family: Franklin Gothic Medium">Welcome to Snitch.io</h1>
  </div>
</div><br><br>

<div class="card-body">
  <blockquote class="blockquote mb-0">
    <p style="text-align: center; font-style: italic; color:rgb(135, 135, 135)">Our purpose is to see, know, care about, and understand our community!<br></p>

  </blockquote>
</div>

<!-- <ngb-accordion>
  <ngb-panel title="KEEPING COMMUNITIES SAFE AND INFORMED">
    <ng-template ngbPanelContent>
      The purpose of local is to see, know, care about and understand your community
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->

<a><app-alert-list></app-alert-list></a>

<br><ngb-accordion>
  <ngb-panel title="What is a Snitch?" class="first">
    <ng-template ngbPanelContent>
      <h3 style="font-family: Franklin Gothic Medium">A snitch is a report of an issue in your area that you want to raise awareness of. It provides means of meaningful community participation, consultation and determination of community needs.</h3>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<p></p>


<div class="snitchdiv1">
  <form action="/action_page.php" class="container1">
    <h1>Find a Snitch!</h1>

   <p class = "snitch">See an issue? check to see if it has been reported!</p>


   <button type="submit" class="btn" [routerLink]="['/snitches']">List snitches</button>

  </form>
</div>

<p> </p>
<!-- find a better way to create space between divs besides an empty  -->
<div class="snitchdiv2">
  <form action="/action_page.php" class="container2">
    <h1>Create a Snitch!</h1>

   <p class = "snitch">it is important to bring issues to light! Create a snitch here!</p>

   <div *ngIf="!checkLogin()"><button type="button" class="btn" ngbTooltip="Please REGISTER/LOGIN to get full access!" triggers="click:blur">
    Report a snitch
  </button></div>
   <div *ngIf="checkLogin()"><button type="submit" class="btn" [routerLink]="['/snitch']">Report a snitch</button></div>
  </form>
</div>


<p></p>
</div>
</div>
