<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top pull-right">
  <div class="navbar-nav text-white">
    <a *ngIf="adminLoggedIn()" class="nav-item nav-link" [routerLink]="['/admin']">ADMIN</a>
    <a class="navbar-brand" [routerLink]="['/home']"><img src="https://img.icons8.com/color/2x/listening--v2.png" height="50px" alt="logo"/></a>
    <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
    <a class="nav-item nav-link" [routerLink]="['/contact']">Contact</a>
    <a *ngIf="checkLogin()" class="nav-item nav-link" [routerLink]="['/snitchPersonal']">My Snitches</a>
    <a *ngIf="checkLogin()" class="nav-item nav-link" [routerLink]="['/userprofile']">My Profile</a>
    <a *ngIf="!checkLogin()" class="nav-item nav-link" [routerLink]="['/login']">Login</a>
    <a *ngIf="!checkLogin()" class="nav-item nav-link" [routerLink]="['/register']">Register</a>
    <a *ngIf="checkLogin()" class="nav-item nav-link" [routerLink]="['/logout']">Logout {{user.username}}</a>
  </div>

</nav>
