<nav class="navbar navbar-expand-md navbar-fixed-top scrolling-navbar">

  <div class="navbar-nav text-white">
    <a *ngIf="adminLoggedIn()" class="nav-item nav-link" [routerLink]="['/admin']">ADMIN</a>
    <a class="nav-item avatar" [routerLink]="['/home']"><img src="https://img.freepik.com/free-icon/dwelling-house_318-1861.jpg?size=338&ext=jpg&ga=GA1.2.1003389528.1593660835" class="rounded-circle z-depth-0"
      alt="avatar image" height="40"/></a>
    <!-- <a class="nav-item nav-link" [routerLink]="['/home']">Home</a> -->
    <a class="nav-item nav-link" [routerLink]="['/contact']">Contact</a>
    <a *ngIf="checkLogin()" class="nav-item nav-link" [routerLink]="['/snitchPersonal']">My Snitches</a>
    <a *ngIf="checkLogin()" class="nav-item nav-link" [routerLink]="['/userprofile']">My Profile</a>
    <a *ngIf="!checkLogin()" class="nav-item nav-link" [routerLink]="['/login']">Login</a>
    <a *ngIf="!checkLogin()" class="nav-item nav-link" [routerLink]="['/register']">Register</a>
    <a *ngIf="checkLogin()" class="nav-item nav-link" [routerLink]="['/logout']">Logout {{user.username}}</a>
  </div>

</nav>
<!-- height="50px"  -->
