<footer class="block block-bg-grey-dark">
  <div class="container">
  <div class="copyrights">
      <p class="white-txt">Snitch © <script type="text/javascript">document.write(new Date().getFullYear())</script>
          <br><br>
          <img class="footimg" src="" alt="Logo">
      </p>
      <hr class="dark-line">
      <a class="link" [routerLink]="['/login']">Login</a>
      <a class="link" [routerLink]="['/home']">Home</a>
      <a class="link" [routerLink]="['/about']">About Developer Team</a>
      <br><br>
      <p class="white-txt small">
          Snitch It!
      </p>
  </div>
</div>
</footer>
