<footer class="page-footer font-small py-4 dark-grey-text">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h5 class="font-weight-bold mb-0">© 2020 Snitch:<br>
          <a href="https://github.com/yettsyjk/FinalProject">Jubilee Dreamer</a></h5>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
          	<a class="mx-3" role="button">About</a>
          </li>
          <li>
          	<a class="mx-3" role="button">Blog</a>
          </li>
          <li>
          	<a class="mx-3" role="button">Policy</a>
          </li>
          <li>
          	<a class="mx-3" role="button">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- Copyright -->
        <!-- <div class="footer-copyright text-right mt-2"><a><img src="https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/13855371531555590081-64.png" class="rounded-circle z-depth-0"
          alt="avatar image" height="50"/></a> -->

        <!-- </div> -->
        <!-- Copyright -->
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
