<!-- <footer class="footer footer-classic context-dark bg-image">
  <div class="container">
  <div class="copyrights">
      <p class="white-txt">Snitch © 2020</p>
      <hr class="dark-line">
      <a class="link" [routerLink]="['/login']">Login</a>
      <a class="link" [routerLink]="['/home']">Home</a>
      <a class="link" [routerLink]="['/about']">About Developer Team</a>
      <br><br>
      <p class="white-txt small">
          Snitch It!
      </p>
  </div>
</div>
</footer> -->
<footer class="section footer sticky-footer footer-classic context-dark text-light bg-image" style="background: #3a3838;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" [routerLink]="['/home']"><img class="brand-logo-light" src="https://img.icons8.com/color/2x/listening--v2.png" alt="whisper" width="50" height="40"></a>
          <p>Bringing communities together and keeping you informed.</p>
          <!-- Rights-->
          <p class="rights"><span>Snitch ©  </span><span class="copyright-year">2020</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>798 South Park Avenue, Jaipur, Raj</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">https://karosearch.com</a> <span>or</span> <a href="tel:#">https://karosearch.com</a>
          </dd>
        </dl>
      </div> -->
      <div class="col-md-4 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">

          <a class="link" [routerLink]="['/home']">Home</a><br/>
          <a class="link" [routerLink]="['/contact']">About Developer Team</a><br/>
        </ul>
      </div>
    </div>
  </div>

</footer>
